#services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}

#section-title {
    text-transform: uppercase;
    color: #147efb;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 8rem;
}

#section-subtitle {
    margin-top: 14px;
    font-size: 22px;
    font-weight: bold;
}

#service-cards-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
        align-items: stretch;
        flex-direction: row;
        width: 80%;
        gap: 3rem;
    }

    @media (min-width: 1536px) {
        align-items: stretch;
        flex-direction: row;
        width: 60%;
        gap: 4rem;
    }
}

#service-card-container {
    background-color: #FFF;
    display: flex;
    width:  75%;
    margin-top: 48px;
    border-radius: 10px;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: borderSlide 3s infinite;


    &:hover {
        scale: 105%;
    }

    // &.current {
    //     animation: borderSlide 2s infinite;
    // }

    .bots {
        background: linear-gradient(90deg, #000 0%, #1B395D 100%);
    }

    .websites {
        background: linear-gradient(90deg, #000 0%, #371B5D 100%);
    }

    .apps {
        background: linear-gradient(90deg, #000 0%, #405D1B 100%);
    }

    #card-logo {
        color: #FFF;
        width: 85%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 2rem;
        margin: 20px 0;
    }

    #card-title {
        font-size: 17px;
    }

    #card-content {
        width: 85%;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
        margin-bottom: 20px;

        h2{
            font-size: 15px;
            font-weight: 600;
        }

        p {
            font-size: 15px;
            font-weight: 400;
        }

        strong {
            font-weight: 600;
        }
    }

}

@keyframes borderSlide {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: var(--border-color);
    }
    100% {
      border-color: transparent;
    }
  }