#services-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}

#section-title {
    text-transform: uppercase;
    color: #147efb;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 8rem;
}

#section-subtitle {
    margin-top: 14px;
    font-size: 22px;
    font-weight: bold;
}

#service-cards-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#service-card-container {
    background-color: #FFF;
    display: flex;
    width: 75%;
    margin-top: 48px;
    border-radius: 10px;
    border: 1px solid #2A8BFB;
    flex-direction: column;

    #card-logo {
        background-color: #0B0C0D;
        color: #FFF;
        width: 85%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 2rem;
        margin: 20px 0;
    }

    #card-title {
        font-size: 17px;
    }

    #card-content {
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
        margin-bottom: 20px;

        h2{
            font-size: 15px;
            font-weight: 600;
        }

        p {
            font-size: 15px;
            font-weight: 400;
        }

        strong {
            font-weight: 600;
        }
    }

}